.TitleNumber1-Render{
    display: flex;
    padding: 20px;
    margin: 10px 50px 10px 50px;
    flex-direction: column;
    align-items: center;
}
.TitleNumer1-Number{
    display: flex;
    margin-bottom: 50px;
    height: 80px;
    width: 80px;
    font-size: 1.4em;
    color: var(--Main_Color);
    background-color: black;
    border-radius: 50px;
    border: 2px solid var(--Main_Color);
    box-shadow: 0 0 10px var(--Main_Color), inset 0 0 10px var(--Main_Color);
    text-shadow: 0 0 5px var(--Main_Color);
    align-items: center;
    justify-content: center;
}
.TitleNumber1-Title{
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 2px solid var(--Main_Color);
}