.UpdateExam-Render-div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.UpdateExam-Main{
    padding: 7px;
    width: 45%;
    height: 90%;
    background-color: var(--BG2_color);
    border: 1px solid #4e4e4e;
    border-radius: 7px;
}
.UpdateExam-title{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #4e4e4e;
}
.UpdateExam-title input{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--BG_Color);
    border: 1px solid var(--Text_Color);
    color: var(--Text_Color);
}
.UpdateExam-title textarea{
    margin-top: 15px;
    height: 100px;
    width: 50%;
    padding: 5px;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border: 1px solid var(--Text_Color);
}
.UpdateExam-Inputs{
    border-bottom: 1px solid #4e4e4e;
    height: 66vh;
    overflow-y: auto;
}
.UpdateExam-Button{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.UpdateExam-Button button{
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}
.UpdateExam-Question{
    height: 20vh;
    padding: 10px;
    border-bottom: 1px solid #4e4e4e;
}
.UpdateExam-Question input{
    margin-left: 4px;
    width: 90%;
    padding: 5px 4px;
    border-radius: 5px;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--Text_Color);
    outline: none;
}

.UpdateExam-Question-Render{
    display: flex;
    justify-content: space-between;
}
.UpdateExam-Question-Render div{
    width: 90%;
}

.UpdateExam-Option{
    display: flex;
    margin-top: 12px;
    margin-left: 10px;
    align-items: center;
}

.UpdateExam-Option button{
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.UpdateExam-Option input{
    padding: 5px 8px;
    width: 40%;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border-bottom: 1px solid var(--Main_Color);
    font-size: 15px;
    border-radius: 5px;
}

.UpdateExam-Question-Button{
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 6px 5px 6px;
    border: none;
    background-color: var(--Main_Color);
    color: var(--Text_Color);
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 1559px) {
    .UpdateExam-title textarea{    
        height: 70px;
    }
    .UpdateExam-Inputs{
        height: 64vh;
    }
}

@media screen and (max-width: 1366px) {
    .UpdateExam-Inputs{
        height: 58vh;
    }
}