.Profile-Home{
    width: 15%;
    height: 100vh;
    background-color: var(--BG2_color);
    border-left:1px solid #4e4e4e ;
    overflow: auto;
}
.Settings-Home{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    background-color: var(--BG2_color);
    border-bottom: 1px solid #4e4e4e;
    align-items: center;
    justify-content: space-between;
}
.Settings-Home ul{
    display: flex;
}
.Settings-Home samp{
    font-size: 1.4em;
    transform: translateY(1px);
    cursor: pointer;
    transition: .5s;
}
.Settings-Home samp:hover{
    color: var(--Main_Color);
}
.Photo-Home{
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}
.Photo-Home-Shape1{
    position: absolute;
    background: #4e4e4e;
    height: 120px;
    width: 120px;
    z-index: 1;
    animation: RotateShape 5s linear infinite;
    animation-delay: .2s;
    transition: .5s;
}
.Photo-Home-Shape2{
    position: absolute;
    background: #4e4e4e;
    height: 125px;
    width: 125px;
    z-index: 1;
    animation: RotateShape2 5s linear infinite;
    animation-delay: .2s;
}
@keyframes RotateShape {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes RotateShape2 {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.Photo-Home-Render{
    display: flex;
    border: 2px solid #4e4e4e;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow:0 0 10px var(--Text_Color);
    z-index: 2;
    cursor: pointer;
    transition: .5s;
}
.Photo-Home-Render:hover{
    border: 2px solid var(--Main_Color);
    box-shadow: 0 0 20px var(--Main_Color);
}
.Photo-Home-Render img{
    height: 150px;
}
.Profile-Data-Div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Profile-Data-Div p{
    color: #bdbdbd;
}
.Home-Profile-Profesor{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 10px;
}
.Home-Profile-Profesor a{
    color: #bdbdbd;
    text-decoration: none;
    transition: .5s;
}
.Home-Profile-Profesor a:hover{
    color: var(--Main_Color);
}
.Home-Profile-teachers{
    display: flex;
    flex-direction: column;
}
.Home-Profile-teachers ul{
    display: flex;
    height: 50px;
    margin: 5px 10px;
    padding: 30px 10px;
    background-color: var(--BG_Color);
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.Home-Profile-teachers ul:hover{
    box-shadow: 0 0 10px var(--Main_Color);
}
.Home-Profile-teachers p{
    margin-left: 10px;
    transition: .5s;
}
.Home-Profile-teachers ul:hover p{
    color: var(--Main_Color);
}
.Home-Photo-Teachers{
    display: flex;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
}
.Home-Photo-Teachers img{
    height: 40px;
}
#List-Profile-Class ul{
    background-position: center;
    background-size: cover;
}
#List-Profile-Class ul:hover p{
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: var(--Text_Color);
    text-shadow: 0 0 5px #000;
}

@media screen and (max-height: 780px) {
    .Photo-Home-Shape1{
        display: none;
    }
    .Photo-Home-Shape2{
        display: none;
    }
}

@media screen and (max-width: 1366px){
    .Settings-Home samp{
        font-size: 1.2em;
    }
    .Home-Profile-Profesor{
        padding: 8px;
        font-size: 0.9em;
    }
}