.BarTeacher-Div-Render{
    height: 100vh;
    width: 17%;
    background-color: var(--BG2_color);
    border-right: 1px solid #4e4e4e;
}
.BarTeacher-Main{
    padding: 10px;
    border-bottom: 1px solid #4e4e4e;
}
.BarTeacher-Main h2{
    font-size: 1.8em;
    margin-left: 20px;
}
.BarTeacher-Main samp{
    font-size: 1.8em;
    cursor: pointer;
    transform: translateY(4px);
}
.BarTeacher-Main samp:hover{
    color: var(--Main_Color);
}
.BarTeacher-Main div{
    display: flex;
    align-items: center;
}
.BarTeacher-List{
    padding: 0 20px;
}
.BarTeacher-List ul{
    display: flex;
    margin: 10px 0;
    padding: 15px 20px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
}
.BarTeacher-List samp{
    font-size: 1.3em;
    transform: translateY(2px);
    margin-right: 7px;
}
.BarTeacher-List ul:hover{
    background-color: var(--BG_Color);
}
.BarTeacher-List ul:hover samp{
    color: var(--Main_Color);
}
.BarTeacher-List div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#BarTeacher-List-Active{
    background-color: var(--BG_Color);
}
#BarTeacher-List-Active samp{
    color: var(--Main_Color);
}