.ListStudent-Div-Render{
    display: flex;
    width: 82%;
    align-items: center;
    justify-content: center;
}
.ListStudent-Main-Div{
    height: 80%;
    width: 45%;
    background-color: var(--BG2_color);
    border-radius: 8px;
    border: 1px solid #494949;
    box-shadow: 0 10px 20px #1f1f1f;
    overflow: hidden;
}
.ListStudent-Title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #494949;
}
.ListStudent-Contenet{
    height: 89%;
    overflow: auto;
}
.ListStudent-Button{
    display: flex;
    padding: 8px;
    justify-content: center;
    border-top: 1px solid #494949;
}
.ListStudent-Button button{
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    background-color: #1b8012;
    color: var(--Text_Color);
    border: none;
    cursor: pointer;
}
.ListStudent-Student{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #494949;
}
.ListStudent-Data{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ListStudent-Data div{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.ListStudent-Data div img{
    height: 50px;
}
.ListStudent-Filter{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.ListStudent-Filter input{
    padding: 5px;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border: 1px solid #494949;
}

@media screen and (max-width: 1559px) {
    .ListStudent-Contenet{
        height: 86%;
    }
}

@media screen and (max-width: 1366px) {
    .ListStudent-Contenet{
        height: 83%;
    }
    .ListStudent-Main-Div{
        height: 83%;
    }
}