.BodyPageNote{
    padding: 10px;
    height: 92%;
    overflow: auto;
}
.BodyPageNote-Title{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1559px) {
    .BodyPageNote{
        height: 90%;
    } 
}

@media screen and (max-width: 1366px) {
    .BodyPageNote{
        height: 88%;
    } 
}