.TrayNotificacions-Render{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TrayNotificacions-Div{
    height: 80%;
    width: 35%;
    background-color: var(--BG2_color);
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    overflow: hidden;
}
.TrayNotificacions-Bar{
    padding: 0 15px;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4e4e4e;
}
.TrayNotificacions-Bar h2{
    transform: translateY(1px);
    transition: .3s;
    cursor: pointer;
}
.TrayNotificacions-Bar h2:hover{
    color: var(--Main_Color);
}
.TrayNotificacions-Tray{
    height: 95%;
    overflow: auto;
}