.BoxCreateClass-Main-Body{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.BoxCreateClass-Main-Div{
    display: flex;
    padding: 10px;
    height: 80%;
    width: 70%;
    background-color: var(--BG2_color);
    border: 2px solid #3a3a3a ;
    border-radius: 5px;
    box-shadow: 0 10px 30px #1a1a1a ;
}
.BoxCreateClass-Main-Div form{
    display: flex;
    height: 95%;
    width: 100%;
    flex-wrap: wrap;
}
.BoxCreateClass-Div-Sesion:nth-child(1){
    padding: 10px;
    height: 100%;
    width: 50%;
    border-right: 1px solid #4e4e4e ;
    overflow: auto;
}
.BoxCreateClass-input-Div-1{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.BoxCreateClass-input-Div-1 label{
    margin-bottom: 5px;
}
.BoxCreateClass-input-Div-1 input{
    padding: 5px;
    font-size: 1.2em;
    color: var(--Text_Color);
    background-color: var(--BG_Color);
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    outline: none;
}
.BoxCreateClass-input-Div-2{
    padding: 3px 10px;
}
.BoxCreateClass-input-Div-2 textarea{
    padding: 5px;
    width: 100%;
    height: 100px;
    font-size: 1em;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    outline: none;
    resize: none;
}
.BoxCreateClass-render-div{
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
}
.BoxCreateClass-render-div label{
    margin-bottom: 5px;
}
.BoxCreateClass-render-div input{
    padding: 5px;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border: 1px solid #4e4e4e;
    border-radius: 4px;
}
.BoxCreateClass-Select-div{
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
}
.BoxCreateClass-Select-div label{
    margin-bottom: 5px;
}
.BoxCreateClass-Select-div select{
    padding: 5px;
    background-color: var(--BG_Color);
    color: var(--Text_Color);
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    outline: none;
}
.BoxCreateClass-img label{
    margin: 5px 10px;
}
.BoxCreateClass-img-div{
    margin: 5px 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #4e4e4e;
}
.BoxCreateClass-img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.BoxCreateClass-Div-Sesion:nth-child(2){
    padding: 10px;
    height: 100%;
    width: 50%;
}
.BoxCreateClass-btn{
    padding: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.BoxCreateClass-btn button{
    background-color: var(--Main_Color);
    padding: 5px 15px 5px 15px;
    color: var(--Text_Color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}
.BoxCreateClass-btn button:hover{
    background-color: #fff;
    color: #000;
}
.BoxCreateClass-Previa{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BoxCreateClass-Previa div:nth-child(2){
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    word-break: break-all;
}
.BoxCreateClass-Previa div:nth-child(3){
    display: flex;
    width: 70%;
    height: 200px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.BoxCreateClass-Previa div:nth-child(4){
    margin-top: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

@media screen and (max-width: 1559px) {
    .BoxCreateClass-Main-Div{
        height: 85%;
    }
}

@media screen and (max-width: 1366px){
    .BoxCreateClass-Main-Div{
        height: 95%;
    }
}