@font-face {
    font-family: 'Roboto';
    src: url('assets/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --BG_Color: #282c36;
    --BG2_color: #323946;
    --Text_Color: #fff;
    --Main_Color: #05a6e8;
}