.BodyList-Class-List{
    height: 25%;
    overflow: hidden;
}
.BodyList-Class-Scroll{
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.BodyList-Class-Card{
    display: inline-block;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 330px;
    border: 2px solid #505050;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}
.BodyList-Class-Card div{
    padding: 4px;
    text-align: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #505050;
    border-radius: 0 0 10px 10px;
    transition: .5s;
}
.BodyList-Class-Card h4{
    text-shadow: 0 0 5px #000000;
}
.BodyList-Class-Card:hover{
    border: 2px solid var(--Main_Color);
}
.BodyList-Class-Card:hover div{
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--Main_Color);
}
#BodyList-Class-CardActive{
    border: 2px solid var(--Main_Color);
}
#BodyList-Class-CardActive div{
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--Main_Color);
}
.BodyList-Class-Main{
    display: flex;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid #505050;
    overflow: hidden;
    transition: .3s;
}
.BodyList-Class-Main:hover{
    border: 2px solid var(--Main_Color);
}
.BodyList-Class-Main:hover .BodyList-Class-Main-Div2{
    border-left: 2px solid var(--Main_Color);

}
.BodyList-Class-Main-Div1{
    width: 60%;
    background-size: cover;
    background-position: center;
}
.BodyList-Class-Main-Div2{
    display: flex;
    width: 40%;
    border-left: 2px solid #505050;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.BodyList-Class-Main-Div2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.BodyList-Class-Main-Div2 p{
    margin: 20px;
}
.BodyList-Class-Main-Div2 button{
    padding: 6px 8px 6px 8px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: var(--Text_Color);
    background-color: var(--Main_Color);
    cursor: pointer;
    transition: .5s;
}
.BodyList-Class-Main-Div2 button:hover{
    background-color: #000000;
}
.BodyList-Class-Main-Right{
    transform: translateY(-90px);
}